{% extends 'base.html' %}

{% comment %}
extends from base.html changes the title and navbar's active page.
has block content for header hero and features. After that goes the
cartcontent which is in the cart.html.
{% endcomment %}

{% block title %}
    Cart
{% endblock %}

{% block content %}
    {% block header %}
        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">კალათა</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">მთავარი</a></li>
                <li class="breadcrumb-item active text-white">კალათა</li>
            </ol>
        </div>
        <!-- Single Page Header End -->
    {% endblock header %}
    {% block cartcontent %}

    {% endblock cartcontent %}
{% endblock content %}



