<div class="tab-pane active" id="nav-about" role="tabpanel"
     aria-labelledby="nav-about-tab">
    <p>{{ product.product_description }}</p>
    <div class="px-2">
        <div class="row g-4">
            <div class="col-6">
                <div class="row bg-light align-items-center text-center justify-content-center py-2">
                    <div class="col-6">
                        <p class="mb-0">Weight</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0">{{ product.weight }} Kg</p>
                    </div>
                </div>
                <div class="row text-center align-items-center justify-content-center py-2">
                    <div class="col-6">
                        <p class="mb-0">Country of Origin</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0">{{ product.country }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>