{% load static %}
<div class="tab-pane" id="nav-mission" role="tabpanel"
     aria-labelledby="nav-mission-tab">
        {% for review in reviews %}
            <div class="d-flex">
             <img src="{% static 'img/avatar.jpg' %}" class="img-fluid rounded-circle p-3"
             style="width: 100px; height: 100px;" alt="">
              <div class="">
            <p class="mb-2" style="font-size: 14px;">{{ review.date }}</p>
            <div class="d-flex justify-content-between">
                <h5>{{ review.user }}</h5>
                <div class="d-flex mb-3">
                    <i class="fa fa-star text-secondary"></i>
                    <i class="fa fa-star text-secondary"></i>
                    <i class="fa fa-star text-secondary"></i>
                    <i class="fa fa-star text-secondary"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <p>{{ review.review }} </p>
            </div>
            </div>
        {% endfor %}
</div>