<div class="container-fluid testimonial py-5">
    <div class="container py-5">
        <div class="testimonial-header text-center">
            <h4 class="text-primary">Our Testimonial</h4>
            <h1 class="display-5 mb-5 text-dark">Our Client Saying!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            {% for review in reviews %}
                {% include 'homepage/testimonial-item.html' with text=review.review image='img/testimonial-1.jpg' proff="Profession" name=review.user %}
            {% endfor %}
        </div>
    </div>
</div>