{% extends 'checkout/base_checkout.html' %}
{% load static %}

{% block checkoutcontent %}
    <!-- Checkout Page Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <h1 class="mb-4">Billing details</h1>
            <form action="#">
                <div class="row g-5">
                    {% include 'checkout/order.html' %}
                    <div class="col-md-12 col-lg-6 col-xl-5">
                        <div class="table-responsive">
                            {% include 'checkout/checkout_cart.html'%}
                        </div>
                        <th scope="row">
                        </th>
                    </div>

                    {% include 'checkout/payment.html' with title="Direct Bank Transfer" text="Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account." %}
                    {% include 'checkout/payment.html' with title="Check Payments" %}
                    {% include 'checkout/payment.html' with title="Cash On Delivery" %}
                    {% include 'checkout/payment.html' with title="Paypal" %}
                    <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                        <button type="button"
                                class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Place Order
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Checkout Page End -->
{% endblock checkoutcontent %}