<th scope="row">
</th>
<td class="py-5">
    <p class="mb-0 text-dark py-4">Shipping</p>
</td>
<td colspan="3" class="py-5">
    <div class="form-check text-start">
        <input type="checkbox" class="form-check-input bg-primary border-0"
               id="Shipping-1" name="Shipping-1" value="Shipping">
        <label class="form-check-label" for="Shipping-1">Free Shipping</label>
    </div>
    <div class="form-check text-start">
        <input type="checkbox" class="form-check-input bg-primary border-0"
               id="Shipping-2" name="Shipping-1" value="Shipping">
        <label class="form-check-label" for="Shipping-2">Flat rate: ${{ flat_rate }}</label>
    </div>
    <div class="form-check text-start">
        <input type="checkbox" class="form-check-input bg-primary border-0"
               id="Shipping-3" name="Shipping-1" value="Shipping">
        <label class="form-check-label" for="Shipping-3">Local Pickup: $8.00</label>
    </div>
</td>